
#top {
  position: relative;
  background-color:#ffffff;
  border-radius: 10px;
  color: white;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

#bottom {
  position: relative;
  bottom: 0;
  padding: 5px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  width: 99%;
}

#left {
  float: left;
  background-color: #ece3a5;
  padding: 5px;
  width: 150px;
}

#right {
  float: right;
  background-color: #ece3a5;
  padding: 5px;
  width: 150px;
}

.center_content {
  /*border: 1px solid #dddddd;
  border-radius: 10px;*/
  position: relative;
  padding: 5px;
}

.left_content {
  background-color: #dddddd;
  padding: 5px;
  margin-left: 170px;
}

.right_content {
  background-color: #dddddd;
  padding: 5px;
  margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {


  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
}

/*Estilos generales*/
#home-page{
  position: relative;
  width: 50%;
  margin: 0 auto;
  top: 100px;
  text-align: center;
}
#logo-facsoft{
  width: 100%;
  height: auto;
}

.ui-menu{
  padding: 10px !important;
  background-color:#fff;
  border: 1px solid #dddddd !important;
  border-radius: 10px !important;
}

html{
  margin-top: 0;
}

.totalPagar{
  text-align: center !important;
  font-size: 44px !important;
  color:#009933 !important;
  font-weight: bold !important;
}


.datosCliente{
  text-align: center !important;
  font-size: 30px !important;
  font-weight: bold !important;
}

.nFactura{
  text-align: center !important;
  font-size: 20px !important;
  font-weight: bold !important;
}

